<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated adbook -->
      <package
            uri="http://www.frateranatis.org/adbook"
            class="de.dc.javafx.adbook.model.ModelPackage"
            genModel="model/adbook.xcore"/>
   </extension>

</plugin>
